#my_dataviz{
    float: left;
    width: 400px;
    height: 400px;

   
}
#my_dataviz2{
    float: left;
    width: 400px;
    height: 400px;

}
#my_dataviz3{
    float: left;
    width: 400px;
    height: 400px;
    
}

#my_dataviz4{
    float: left;
    width: 400px;
    height: 400px;
    
}

#my_dataviz5{
    float: left;
    width: 400px;
    height: 400px;
    
}

#my_dataviz6{
    float: left;
    width: 400px;
    height: 400px;
    
}

#my_dataviz7{
    float: left;
    width: 400px;
    height: 400px;
    
}

#my_dataviz8{
    float: left;
    width: 400px;
    height: 400px;
    
}

#my_dataviz9{
    float: left;
    width: 400px;
    height: 400px;
    
}